@{
    ViewBag.Title = "About us";
}
<div class="row">
    <div class="col-lg-10 text-left">
        <h2>About us</h2>
        <p>This is a practice web project to help learn how to make a website using C# and html</p>
        <a href="/home">go back to home</a>
    </div>

</div>
