@{
    ViewBag.Title = "User Log in";
    Layout = "~/Views/Shared/NoNav_layout.cshtml";

}

<div class="centered-box">
    <div class="row">

        <div class="col-sm-12 text-center form-title">
            <br />
            <br />
            <h1>Log In</h1>
        </div>

        @if (ViewBag.Message != null)
        {
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="alert alert-success" role="alert">
                    @ViewBag.Message
                </div>
            </div>
        }

    <form action="/user/login" method="post">

        <div class="col-lg-12 col-md-12 col-sm-12">
            <label style="font-size:larger" class="col-form-label" for="Username"><b>Username</b></label>
            <input class="form-control full-input" type="text" placeholder="Enter Username" name="Username" id="Username" required>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <label style="font-size:larger" class="form-label text-center" for="Password"><b>Password</b></label>

            <input class="form-control full-input" type="text" placeholder="Enter Password" name="Password" id="Password" required>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <br />
            <button class="form-control btn-success full-input" type="submit">Log in</button>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <br />
            <a href="/user/signup"></>Sign up</a>

        </div>

        @if (ViewBag.User!=null && ViewBag.User.UserStatu.Code == "IACT") 
        {

        <div class="col-lg-6 col-md-6 col-sm-6">
            <br />
            <a href="/user/VerifyAccount?Id=@ViewBag.User.userId">Your account isn't Verified</a>

        </div>

        }

    </form>
    </div>
</div>

