@{
    ViewBag.Title = "Make Booking";

}


<div class="centered-box">
    <form action="/user/makebooking" method="post">
        <div class="row">
            <div class="col-sm-12 text-center form-title">
                <h1>Make Bookings</h1>

            </div>
            @if (ViewBag.Message != null)
            {
                <div class="col-sm-12">
                    <div class="alert alert-success" role="alert">
                        @ViewBag.Message
                    </div>
                </div>
            }

            <div class="col-lg-12 col-md-12 col-sm-12">
                <label style="font-size:larger" class="col-form-label" for="DateandTime"><b>Meeting Time for Appointment:</b></label>
                <input type="datetime-local"
                       id="DateandTime"
                       name="DateandTime"
                       min="@DateTime.Now"
                       step="3600" required />
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <br />
                <label for="Service">ServiceId</label>

                <select class="form-control full-input" name="ServiceId" id="ServiceId">
                    @{
                        foreach (var item in ViewBag.services)
                        {
                            <option value="@item.ServiceId"> @item.Name </option>
                        }
                    }

                </select>

            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label for="UserComment"><b>User Comment</b></label>
                    <textarea class="form-control full-input" type="text" placeholder="Enter Reason for Appointment" name="UserComment" id="UserComment" required></textarea>
                </div>
            </div>

            <div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <br />
                    <button class="form-control btn-success full-input" type="submit">Book</button>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <br />
                    <a href="/user/userbookings"></>Return to Bookings</a>

                </div>
            </div>
        </div>
    </form>
</div>


