@{
    ViewBag.Title = "Register";
}
<form action="/user/register" method="post">

    <div class="row">

        <div class="row">
            <div class="col-sm-12 text-center form-title">
                <h1>Update/Save User status</h1>
                <p></p>
            </div>
            @if (ViewBag.Message != null)
            {
                <div class="col-sm-12">
                    <div class="alert alert-success" role="alert">
                        @ViewBag.Message
                    </div>
                </div>
            }
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="Firstname"><b>Firstname</b></label>
                    <input class="form-control full-input" type="text" placeholder="Enter Firstname" name="Firstname" id="Firstname" required>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="Surname"><b>Surname</b></label>
                    <input class="form-control full-input" type="text" placeholder="Enter Surname" name="Surname" id="Surname" required>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="Email"><b>Email</b></label>
                    <input class="form-control full-input" type="text" placeholder="Enter Email" name="Email" id="Email" required>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="Phone"><b>Phone</b></label>
                    <input class="form-control full-input" type="text" placeholder="Enter Phone" name="Phone" id="Phone" required>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <label for="UserStatus">UserStatus</label>

                <select name="UserStatus" id="UserStatus">
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                    <option value="Pending">Pending</option>
                    
                </select>
                <!--<div class="dropdown" >
        <button class="btn btn-default dropdown-toggle" type="button" id="Userstatus" data-toggle="UserStatus" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="UserStatus">
            <li><a href="#">hello</a></li>
            <li><a href="#">people</a></li>
            <li><a href="#">good</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">seperated kink</a></li>
        </ul>
    </div>-->
            </div>
                
            
                <div class="col-sm-12 col-md-6 col-lg-6">

                    <button class="form-control btn-success" type="submit">Register</button>

                </div>

                   
                
                
           
        </div>


    </div>
            
    

</form>
