@{
    ViewBag.Title = "Delete";
}
<form action="user/userstatusdelete" method="post">

    <div class="row">

        <div class="row">
            <div class="col-sm-12 text-center form-title">
                <h1>Delete Confirmation</h1>
                <p>Are you sure you want to delete information?</p>

            </div>
            <div class="col-sm-12 text-center form-title">
                <p>Content will be lost</p>

            </div>
            <!--//if (ViewBag.Message != null)
            {
                <div class="col-sm-12">
                    <div class="alert alert-success" role="alert">
                        //ViewBag.Message
                    </div>
                </div>
            }-->


            <div class="col-sm-12 col-md-6 col-lg-6 text-center">
                <button class="form-control btn-warning center-block" type="submit">Delete</button>
                <input type="hidden" value="@Model.UserStatusId" name="UserStatusId" id="UserStatusId">
            </div>


        </div>
    </div>

</form>
