@{
    ViewBag.Title = "User Register";
}
<form action="/user/userregister" method="post">

    <div class="row">

        <div class="row">
            <div class="col-sm-12 text-center form-title">
                <h1>Update/Save User status</h1>
                <p></p>
            </div>
            @if (ViewBag.Message != null)
            {
                <div class="col-sm-12">
                    <div class="alert alert-success" role="alert">
                        @ViewBag.Message
                    </div>
                </div>
            }
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="Firstname"><b>Firstname</b></label>
                    <input class="form-control full-input" type="text" placeholder="Enter Firstname" name="Firstname" id="Firstname" required>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="Surname"><b>Surname</b></label>
                    <input class="form-control full-input" type="text" placeholder="Enter Surname" name="Surname" id="Surname" required>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="Email"><b>Email</b></label>
                    <input class="form-control full-input" type="text" placeholder="Enter Email" name="Email" id="Email" required>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="Phone"><b>Phone</b></label>
                    <input class="form-control full-input" type="text" placeholder="Enter Phone" name="Phone" id="Phone" required>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <label for="UserStatus">UserStatus</label>

                <select class="form-control full-input" name="UserStatusId" id="UserStatusId">
                    @{
                        foreach (var item in Model)
                        {
                           <option value="@item.UserStatusId">@item.Name</option>
                        }
                    }

                </select>

            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="Password"><b>Password</b></label>
                    <input class="form-control full-input" type="text" placeholder="Enter Password" name="Password" id="Password" required>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">

                <button class="form-control btn-success" type="submit">Register</button>

            </div>
        </div>
    </div>

</form>
