@{
    ViewBag.Title = "Website";
}


<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Welcome to my site</h2>
        <a href="/contact/aboutus">learn about us</a>
    </div>

    @{var obj = (WebPortal.Models.User)Session["Currentuser"];

        if (obj.UserStatu.Code.ToString() == "IACT")
        {
            <div class="down-right">

                <p><b>Your account is Unverified <a href="/user/recieveverification">Click Here</a> to recieve verification Email</b></p>

            </div>
        }
    }



</div>