@{
    ViewBag.Title = "Website";
}


<div>
    <div class="col-sm-12 text-center">
        <h2>Welcome to my site</h2>
        <a href="/contact/aboutus">learn about us</a>
    </div>
</div>
@{var obj = (WebPortal.Models.User)Session["Currentuser"];
    if (obj.UserStatu.Code.ToString() == "IACT")
    {
        <div class="col-sm-12 flex-container flex-content down-right">

            <p>Your account is Unverified<a href="">Click Here</a> to recieve verification Email</p>

        </div>
    }
}