@{
    ViewBag.Title = "Website";
}

<div >
    <div class="col-sm-12 text-center">
        @if (Session["UserName"] != null)
        {
            <h2>Welcome to my site @Session["Firstname"].ToString() @Session["Surname"].ToString()</h2>
        }
        <a href="/contact/aboutus">learn about us</a>
    </div>
</div>